<div class="row">
  <div class="well span8">
    <%= render 'shared/errors', obj: @user %>
    <%= form_for @user do |f| %>
      <div class="control-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
        <br/>
      </div>
      <div class="control-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br/>
      </div>
      <%= f.submit (@user.new_record? ? 'Register' : 'Update Profile'), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>